:root {
    --primaryBGColor: #101010;
    --primaryColor: #9850d3;
    --headerHeight: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primaryBGColor);
    color: white;
    font-family: 'Poppins', system-ui, sans-serif;
    font-size: 16px;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: .9rem;
    color: #dadada;
}

header {
    width: 100%;
    height: var(--headerHeight);
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primaryBGColor);
    transition: box-shadow 400ms, height 300ms;
    z-index: 10;

    &.header__shadow {
        --headerHeight: 65px;
        box-shadow: 0px 5px 20px 1px #000000c9;
    }

    & .header__container {
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            color: var(--primaryColor);
        }
    }
}

nav ul {
    display: flex;
    gap: 25px;

    & li a {
        font-size: .9rem;
        font-weight: 300;
        transition: color 300ms;

        &:hover {
            color: var(--primaryColor);
        }
    }
}

main {
    max-width: 1000px;
    margin-top: 60px;
    margin: 0 auto;
    padding: 0 30px;
}

.title__logo {
    font-size: 22px;
    font-weight: 500;
}

.welcome {
    display: flex;
    align-items: center;
    height: 88vh;
    border-bottom: 3px solid var(--primaryColor);
}

.welcome__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greetings {
    font-size: 16px;

    & h2 {
        margin: 0;
        margin-bottom: 25px;
        font-size: 1em;
        font-weight: 500;
    }

    & h3,
    p {
        margin: 0;
        font-size: 2.8em;
        font-weight: 600;
    }

    & p {
        font-size: 2.2em;
    }
}

.photo {
    max-width: 250px;
    margin-left: 30px;

    & img {
        border-radius: 50%;
    }
}

.about {
    width: 85%;
    margin: 40px auto;
    padding: 20px;
    background-color: #151515;
    box-shadow: 0px 0px 30px 1px #000000cc;

    & p {
        padding-right: 20px;
    }
}

.skills {
    width: 85%;
    margin: 60px auto;
    font-size: 20px;

    & h3,
    p {
        text-align: center;
    }

    & h3 {
        font-size: 1.3em;
        font-weight: 600;
    }

    & p {
        margin-bottom: 25px;
        padding: 0 30px;
        font-size: .7em;
    }

    & .skills__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 25px;
    }

    & .skills__card {
        width: 175px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: #151515;
        text-align: center;
        box-shadow: 0px 0px 30px 1px #000000cc;
        transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            transform: scale(1.1);
        }

        & h4 {
            margin-top: 15px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: .7em;
        }
    }
}

.hobbies {
    width: 85%;
    margin: 60px auto;
    font-size: 20px;

    & h3 {
        font-weight: 600;
        font-size: 1.3em;
    }

    & p {
        margin-bottom: 25px;
        padding: 0 30px;
        font-size: .7em;
    }

    & h3,
    p {
        text-align: center;
    }

    .hobbies__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

    .hobbie__card {
        width: 200px;
        padding: 30px;
        background-color: #151515;
        text-align: center;
        box-shadow: 0px 0px 30px 1px #000000cc;
        font-size: 20px;
        transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            transform: scale(1.1);
        }

        i {
            font-size: 3em;
            color: var(--primaryColor);
        }

        h4 {
            margin-top: 20px;
            margin-bottom: 0;
            font-weight: 400;
            font-size: .7em;
        }
    }
}

footer {
    font-size: 14px;
    background-color: #0b0b0b;
}

.info {
    padding: 20px
}

.social__media {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    ;

    a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1d1d1d;
        border-radius: 50%;
        transition: background-color 300ms;

        &:hover {
            background-color: #252525;

        }

        i {
            font-size: 1.2em;
        }
    }

}

.info__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 20px;
    font-size: 16px;

    .info__item {
        display: flex;
        align-items: center;

        i {
            margin-right: 15px;
            color: var(--primaryColor);
            font-size: 1.2em;
        }

        span {
            font-size: .9em;
            font-weight: 300;
        }
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #121212;
    font-size: 12.5px;
}